.list-table {
  display: block;
  height: 28rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.list-table th {
    position: sticky;
    top: 0;
  }

.invoice{
  width: 1500px;
  height: 2480px;
  padding: 40px;
  position: relative;
}

.invoice-bottom{
  position: absolute;
  bottom: 100px;
}
.grand-total{
  padding-right:60px;
  font-weight: bold;
}
.invoice-print-btn{
  height:5rem;
  font-size: 15px;
}